.form-label-left {
    width: 150px !important;
}

.form-line {
    padding-top: 8px;
    padding-bottom: 8px;
}

.form-label-right {
    width: 150px !important;
}

.form-all {
    margin: 0px auto;
    max-width: 600px;
    color: #555 !important;
    font-family: 'Arial';
    font-size: 14px;
}

.form-radio-item label, .form-checkbox-item label, .form-grading-label, .form-header {
    color: #555;
}

.form-label-left,
.form-label-right {
    width: 150px;
}

.form-label {
    white-space: normal;
}

.form-label.form-label-auto {
    display: inline-block;
    float: left;
    text-align: left;
    width: 150px;
}

.form-label-left {
    display: inline-block;
    white-space: normal;
    float: left;
    text-align: left;
}

.form-label-right {
    display: inline-block;
    white-space: normal;
    float: left;
    text-align: right;
}

.form-label-top {
    white-space: normal;
    display: block;
    float: none;
    text-align: left;
}

.form-all {
    font-size: 14px;
}

.form-label {
    font-weight: normal;
    font-size: 20px;
    font-style: italic;
}

.form-checkbox-item label,
.form-radio-item label {
    font-weight: normal;
}

.supernova {
    background-color: none;
    background-color: #ffffff;
}

.supernova body {
    background-color: transparent;
}

/*
@width30: (unit(@formWidth, px) + 60px);
@width60: (unit(@formWidth, px)+ 120px);
@width90: (unit(@formWidth, px)+ 180px);
*/
/* | */
/* | */
/* | */
@media screen and (max-width: 480px) {
    .jotform-form {
        padding: 10px;
    }
}

/* | */
/* | */
@media screen and (min-width: 480px) and (max-width: 768px) {
    .jotform-form {
        padding: 30px;
    }
}

/* | */
/* | */
/*@media screen and (min-width: 480px) and (max-width: 689px) {*/
/*.jotform-form {*/
/*padding: 30px 0;*/
/*}*/
/*}*/

/* | */
/* | */
@media screen and (min-width: 768px) {
    .jotform-form {
        padding: 60px 0;
    }
}

/* | */
/* | */
/*@media screen and (max-width: 689px) {*/
/*.jotform-form {*/
/*padding: 0;*/
/*}*/
/*}*/

/* | */
.supernova .form-all,
.form-all {
    background-color: none;
    border: 1px solid transparent;
}

.form-all {
    color: #555555;
}

.form-header-group .form-header {
    color: #555555;
}

.form-header-group .form-subHeader {
    color: #6f6f6f;
}

.form-sub-label {
    color: #6f6f6f;
}

.form-label-top,
.form-label-left,
.form-label-right,
.form-html {
    color: #7f7f7f;
}

.form-checkbox-item label,
.form-radio-item label {
    color: #6f6f6f;
}

.form-line.form-line-active {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -ms-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    background-color: #ffffe0;
}

/* ömer */
.form-radio-item,
.form-checkbox-item {
    padding-bottom: 0px !important;
}

.form-radio-item:last-child,
.form-checkbox-item:last-child {
    padding-bottom: 0;
}

/* ömer */
.form-single-column .form-checkbox-item,
.form-single-column .form-radio-item {
    width: 100%;
}

.supernova {
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-repeat: repeat;
}

.supernova {
    background-image: none;
}

#stage {
    background-image: none;
}

/* | */
.form-all {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-repeat: repeat;
}

.form-header-group {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
}

.form-line {
    margin-top: 0px;
    margin-bottom: 0px;
}

.form-line {
    padding: 12px 0;
}

.form-all .form-textbox,
.form-all .form-radio-other-input,
.form-all .form-checkbox-other-input,
.form-all .form-captcha input,
.form-all .form-spinner input,
.form-all .form-pagebreak-back,
.form-all .form-pagebreak-next,
.form-all .qq-upload-button,
.form-all .form-error-message {
    border-radius: 6px;
    font-size: 20px;
}

.form-all .form-sub-label {
    margin-left: 3px;
}

.form-all .form-textarea {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.form-all .form-submit-button,
.form-all .form-submit-reset,
.form-all .form-submit-print {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.form-all .form-sub-label {
    margin-left: 3px;
}

.form-all .qq-upload-button,
.form-all .form-submit-button,
.form-all .form-submit-reset,
.form-all .form-submit-print {
    height: 55px;
    width: 221px;
    font-size: 1.15em;
    padding: 12px 18px;
    font-family: "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-width: 1px !important;
    border-style: solid !important;
}

.form-all .form-submit-print {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.form-all .qq-upload-button,
.form-all .form-submit-button,
.form-all .form-submit-reset,
.form-all .form-submit-print {
    color: #f8f8f8 !important;
    background: #ee008c;
    box-shadow: none;
    text-shadow: none;
}

.form-all .form-pagebreak-back,
.form-all .form-pagebreak-next {
    font-size: 1em;
    padding: 9px 15px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    font-weight: normal;
}

/*
& when ( @buttonFontType = google ) {
    @import (css) "@{buttonFontLink}";
}
*/
h2.form-header {
    line-height: 1.618em;
    font-size: 1.714em;
}

h2 ~ .form-subHeader {
    line-height: 1.5em;
    font-size: 1.071em;
}

.form-header-group {
    text-align: left;
}

/*.form-dropdown,
.form-radio-item,
.form-checkbox-item,
.form-radio-other-input,
.form-checkbox-other-input,*/
.form-captcha input,
.form-spinner input,
.form-error-message {
    padding: 4px 3px 2px 3px;
}

.form-header-group {
    font-family: "Arial", sans-serif;
}

.form-section {
    padding: 0px 0px 0px 0px;
}

.form-header-group {
    margin: 12px 36px 12px 36px;
}

.form-header-group {
    padding: 24px 0px 24px 0px;
}

.form-textbox,
.form-textarea {
    border-width: 0px;
    padding: 4px 10px 2px 10px;
}

.form-textbox,
.form-textarea,
.form-radio-other-input,
.form-checkbox-other-input,
.form-captcha input,
.form-spinner input {
    background-color: #eeeeee;
}

.form-textbox {
    height: 50px;
}

.form-textarea {
    height: 89px;
}

.form-textbox,
.form-textarea {
    width: 100%;
    max-width: 350px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

[data-type="control_textbox"] .form-input,
[data-type="control_textarea"] .form-input,
[data-type="control_fullname"] .form-input,
[data-type="control_phone"] .form-input,
[data-type="control_datetime"] .form-input,
[data-type="control_address"] .form-input,
[data-type="control_email"] .form-input,
[data-type="control_passwordbox"] .form-input,
[data-type="control_autocomp"] .form-input,
[data-type="control_textbox"] .form-input-wide,
[data-type="control_textarea"] .form-input-wide,
[data-type="control_fullname"] .form-input-wide,
[data-type="control_phone"] .form-input-wide,
[data-type="control_datetime"] .form-input-wide,
[data-type="control_address"] .form-input-wide,
[data-type="control_email"] .form-input-wide,
[data-type="control_passwordbox"] .form-input-wide,
[data-type="control_autocomp"] .form-input-wide {
    width: 100%;
    max-width: 350px;
}

[data-type="control_fullname"] .form-sub-label-container {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 48%;
}

[data-type="control_fullname"] .form-sub-label-container:first-child {
    margin-right: 4%;
}

[data-type="control_phone"] .form-sub-label-container {
    width: 65%;
}

[data-type="control_phone"] .form-sub-label-container:first-child {
    width: 32.5%;
    margin-right: 2.5%;
}

[data-type="control_phone"] .form-sub-label-container .date-separate {
    visibility: hidden;
}

[data-type="control_datetime"] .form-sub-label-container {
    width: 28%;
    margin-right: 4%;
}

[data-type="control_datetime"] .form-sub-label-container:last-child {
    width: 4%;
    margin-right: 0;
}

[data-type="control_datetime"] .form-sub-label-container .date-separate {
    visibility: hidden;
}

[data-type="control_datetime"].allowTime .form-sub-label-container {
    width: 12%;
    margin-right: 3%;
}

[data-type="control_datetime"].allowTime .form-sub-label-container:last-child {
    width: 4%;
    margin-right: 0;
}

[data-type="control_datetime"].allowTime .allowTime-container {
    float: right;
    width: 51%;
}

[data-type="control_datetime"].allowTime .allowTime-container .form-sub-label-container {
    width: 27%;
    margin-right: 4%;
}

[data-type="control_datetime"].allowTime .allowTime-container .form-sub-label-container:first-child {
    width: 4%;
    margin-left: 3%;
}

[data-type="control_datetime"].allowTime .allowTime-container .form-sub-label-container:last-child {
    width: 27%;
    margin-right: 0;
}

[data-type="control_datetime"].allowTime .form-dropdown {
    width: 100%;
}

.form-matrix-table {
    width: 100%;
    max-width: 350px;
}

.form-address-table {
    width: 100%;
    max-width: 350px;
}

.form-address-table td .form-dropdown {
    width: 100%;
}

.form-address-table td .form-sub-label-container {
    width: 96%;
}

.form-address-table td:last-child .form-sub-label-container {
    margin-left: 4%;
}

.form-address-table td[colspan="2"] .form-sub-label-container {
    width: 100%;
    margin: 0;
}

[data-type="control_dropdown"] .form-input,
[data-type="control_dropdown"] .form-input-wide {
    width: 150px;
}

.form-label {
    font-family: "Arial", sans-serif;
}

li[data-type="control_image"] div {
    text-align: left;
}

li[data-type="control_image"] img {
    border: none;
    border-width: 0px !important;
    border-style: solid !important;
    border-color: false !important;
}

.form-line-column {
    width: auto;
}

/*.form-line-error {*/
/*overflow: hidden;*/
/*-webkit-transition-property: none;*/
/*-moz-transition-property: none;*/
/*-ms-transition-property: none;*/
/*-o-transition-property: none;*/
/*transition-property: none;*/
/*-webkit-transition-duration: 0.3s;*/
/*-moz-transition-duration: 0.3s;*/
/*-ms-transition-duration: 0.3s;*/
/*-o-transition-duration: 0.3s;*/
/*transition-duration: 0.3s;*/
/*-webkit-transition-timing-function: ease;*/
/*-moz-transition-timing-function: ease;*/
/*-ms-transition-timing-function: ease;*/
/*-o-transition-timing-function: ease;*/
/*transition-timing-function: ease;*/
/*background-color: #fff4f4;*/
}

/*.form-line-error .form-error-message {*/
/*background-color: #ff3200;*/
/*clear: both;*/
/*float: none;*/
/*}*/

/*.form-line-error .form-error-message .form-error-arrow {*/
/*border-bottom-color: #ff3200;*/
/*}*/

/*.form-line-error input:not(#coupon-input),*/
/*.form-line-error textarea,*/
/*.form-line-error .form-validation-error {*/
/*border: 1px solid #ff3200;*/
/*-webkit-box-shadow: 0 0 3px #ff3200;*/
/*-moz-box-shadow: 0 0 3px #ff3200;*/
/*box-shadow: 0 0 3px #ff3200;*/
/*}*/

.ie-8 .form-all {
    margin-top: auto;
    margin-top: initial;
}

.ie-8 .form-all:before {
    display: none;
}

/* | */
@media screen and (max-width: 480px), screen and (max-device-width: 768px) and (orientation: portrait), screen and (max-device-width: 415px) and (orientation: landscape) {
    .jotform-form {
        padding: 0;
    }

    .form-all {
        border: 0;
        width: 100% !important;
        max-width: initial;
    }

    .form-sub-label-container {
        width: 100%;
        margin: 0;
    }

    .form-input {
        width: 100%;
    }

    .form-label {
        width: 100% !important;
    }

    .form-line {
        padding: 2% 5%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    input[type=text],
    input[type=email],
    input[type=tel],
    textarea {
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        max-width: initial !important;
    }

    .form-input,
    .form-input-wide,
    .form-textarea,
    .form-textbox,
    .form-dropdown {
        max-width: initial !important;
    }

    div.form-header-group {
        padding: 24px 0px !important;
        margin: 0 12px 2% !important;
        margin-left: 5% !important;
        margin-right: 5% !important;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    [data-type="control_button"] {
        margin-bottom: 0 !important;
    }

    .form-buttons-wrapper {
        margin: 0 !important;
    }

    .form-buttons-wrapper button {
        width: 100%;
    }

    table {
        width: 100% !important;
        max-width: initial !important;
    }

    table td + td {
        padding-left: 3%;
    }

    .form-checkbox-item input,
    .form-radio-item input {
        width: auto;
    }

    .form-collapse-table {
        margin: 0 5%;
    }
}

/* | */

/*__INSPECT_SEPERATOR__*/
body {
    background: #EE008C;
    font-size: 18px;
}

.container {
    padding: 0 10px;
}

@media screen and (min-width: 480px) {
    .container {
        padding: 0 40px;
    }
}

.jotform-form {
    background: #fff;
}

.logo {
    padding: 20px;
}

@media screen and (min-width: 480px) {
    .logo {
        padding: 0;
    }
}

.title {
    width: 100%;
    margin-bottom: 80px;
    border-bottom: 1px solid #d7d7d7;
    padding: 20px 0;
}

@media screen and (min-width: 480px) {
    .title {
        width: 100%;
        padding: 80px 0;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.title img {
    margin: 0 auto;
    display: block;
}

.form-section.page-section {
    list-style: none;
}

.jf-branding {
    display: none !important;
}

/*Form theming*/
.form-line-error {
    background: none;
}

.form-line.form-line-active {
    background: none !important;
}

/*hide all the goodies*/
.form-error-message {
    display: none !important;
}

.form-line-error input:not(#coupon-input), .form-line-error textarea, .form-line-error .form-validation-error,
.form-line-error input:not(#coupon-input), .form-line-error select, .form-line-error textarea, .form-validation-error {
    border: 1px solid #EE008C;
    -webkit-box-shadow: 0 0 3px #EE008C;
    -moz-box-shadow: 0 0 3px #EE008C;
    box-shadow: 0 0 3px #EE008C;
}

.form-button-error,
.form-required {
    color: #EE008C;
}

.form-radio-item label:hover {
    cursor: pointer;
}

.form-radio-item label {
    margin-left: 0;
    padding-left: 50px;
    position: relative;
    margin-bottom: 15px;
    margin-right: 50px;
    display: inline-block;
    min-height: 28px;
    line-height: 28px;
}

.form-radio-item input {
    display: none;
}

.form-radio-item label:before {
    position: absolute;
    content: '';
    width: 28px;
    height: 28px;
    background: #eee;
    border-radius: 50%;
    left: 0;
    top: 0;
}

.form-radio-item input:checked + label:after {
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    background: #000;
    border-radius: 50%;
    left: 7px;
    top: 7px;
}

.form-radio-item input:checked + label {
    font-weight: bold;
}

.form-checkbox-item label:hover {
    cursor: pointer;
}

.form-checkbox-item label {
    margin-left: 0;
    padding-left: 50px;
    position: relative;
    margin-bottom: 15px;
    margin-right: 50px;
    display: inline-block;
    min-height: 28px;
    line-height: 28px;
}

.form-checkbox-item input {
    display: none;
}

.form-checkbox-item label:before {
    position: absolute;
    content: '';
    width: 28px;
    height: 28px;
    background: #eee;
    border-radius: 2px;
    left: 0;
    top: 0;
}

.form-checkbox-item input:checked + label:before {
    background-image: url('../../img/checkmark.png');
    background-repeat: no-repeat;
    background-position: 4px 4px;
}

.form-multiple-column .form-radio-item, .form-multiple-column .form-checkbox-item {
    width: auto;
}

.form-line.submit,
.form-buttons-wrapper {
    margin-bottom: 100px;
}

.footer a {
    margin-right: 20px;
}

.footer .info {
    float: right;

}

.thanks b {
    color: #000;
}

.thanks a {
    color: #EE008C;
}

.thanks p {
    color: #7f7f7f;
}